export AUTH_SECRET=scissor
export DATABASE_URL=postgres://postgres:4mfBWJCpqQ0QY4iHf4ftkIDWU5Jm0syEOTdXi26d7IAXITRRCzNHoRvRZOTugnru@191.96.11.156:8775/postgres
export NEXT_PUBLIC_BASE_URL=http://localhost:3000
export NEXTAUTH_URL=http://localhost:3000
export UPSTASH_REDIS_REST_TOKEN=ArWhAAIgcDHqpVQxCnU2glu6DfZ8RO07D0PSkqzz5Y0hGUdDl9NkSQ
export UPSTASH_REDIS_REST_URL=https://infinite-hookworm-46497.upstash.io
