# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

export AUTH_SECRET=
export DATABASE_URL=postgres://postgres:4mfBWJCpqQ0QY4iHf4ftkIDWU5Jm0syEOTdXi26d7IAXITRRCzNHoRvRZOTugnru@191.96.11.156:8775/postgres
export NEXTAUTH_URL=
export NEXT_PUBLIC_BASE_URL=
export REDIS_URL=
